<{{ tag | default: 'a' }}
  {% if href %}href='{{ href }}{% if anchor %}#contact{% endif %}'{% endif %}
  {% if name %}name='{{ name }}'{% endif %}
  {% if disabled %}disabled{% endif %}
  {% if type == 'button' %}type='button'aria-label="{{ text | strip }}"{% endif %}
  class='{{ className }}'>
    {% if hasArrow %}
      <div class="flex gap-10">
        <div class="pt-2">{{ text | strip }}</div>
        <div class="w-[2rem] rotate-180">{% include 'icon-arrow' %}</div>
      </div>
    {% else %}
      {{ text | strip }}
    {%endif%}
</{{ tag | default: 'a' }}>

{% assign text = blank %}
{% assign className = blank %}
{% assign href = blank %}
{% assign name = blank %}
{% assign disabled = false %}
{% assign anchor = false %}
{% assign type = 'button' %}
{% assign cx = '' %}
