<div class="relative h-35 overflow-hidden font-ita marquee-banner">
  <div class="flex items-center marquee-wrap h-full whitespace-nowrap">
    <div class="flex items-center marquee text-right whitespace-nowrap overflow-visible" data-component="marquee">
      <div class="js-primary leading-120 flex items-center w-[fit-content] whitespace-nowrap flex-shrink-0">
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
      </div>
      <div class="js-copy leading-120 flex items-center flex-shrink-0">
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
        <span class="marquee-item">
          <span class="">{{ section.settings.banner }}</span>
        </span>
      </div>
    </div>
  </div>
</div>
