<div class="customer register">
  <h1 class="h1 w-full text-center text-primary text-30">
    <!-- {{ 'customer.register.title' | t }} -->
    Create Account
  </h1>
  {%- form 'create_customer', class: 'grid grid-cols-12 gap-20 mt-40', novalidate: 'novalidate' -%}
    {%- if form.errors -%}
      <div
        class="form__message hidden col-span-12"
        tabindex="-1"
        autofocus>
        {{ 'templates.contact.form.error_heading' | t }}
      </div>
      <ul class="mb-20 col-span-12">
        {%- for field in form.errors -%}
          <li>
            {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
            {%- else -%}
              <a href="#RegisterForm-{{ field }}">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    <div class="field flex col-span-6">
      <input
        type="text"
        name="customer[first_name]"
        id="RegisterForm-FirstName"
        {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
        autocomplete="given-name"
        placeholder="First Name">
      <label class="hidden" for="RegisterForm-FirstName">
        First Name
      </label>
    </div>
    <div class="field flex col-span-6">
      <input
        type="text"
        name="customer[last_name]"
        id="RegisterForm-LastName"
        {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
        autocomplete="family-name"
        placeholder="Last Name">
      <label class="hidden" for="RegisterForm-LastName">
        Last Name
      </label>
    </div>
    <div class="field flex col-span-12">
      <input
        type="email"
        name="customer[email]"
        id="RegisterForm-email"
        {% if form.email %}
        value="{{ form.email }}"
        {% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
        {% if form.errors contains 'email' %}
        aria-invalid="true"
        aria-describedby="RegisterForm-email-error"
        {% endif %}
        placeholder="Email Address">
      <label class="hidden" for="RegisterForm-email">
        Email Address
      </label>
    </div>
    {%- if form.errors contains 'email' -%}
      <span id="RegisterForm-email-error col-span-12" class="form__message mt-4">
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation">
          <use href="#icon-error" />
        </svg>
        {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
      </span>
    {%- endif -%}
    <div class="field flex col-span-12">
      <input
        type="password"
        name="customer[password]"
        id="RegisterForm-password"
        aria-required="true"
        {% if form.errors contains 'password' %}
        aria-invalid="true"
        aria-describedby="RegisterForm-password-error"
        {% endif %}
        placeholder="Password">
      <label class="hidden" for="RegisterForm-password">
        Password
      </label>
    </div>
    {%- if form.errors contains 'password' -%}
      <span id="RegisterForm-password-error col-span-12" class="form__message">
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation">
          <use href="#icon-error" />
        </svg>
        {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
      </span>
    {%- endif -%}
    <button class="btn btn-white is-light col-span-12 w-full">
      Submit
    </button>
  {%- endform -%}
  <div class="mt-50 text-14 flex items-center justify-center">
    <span class="block">Have an Account?</span>
    <a class="link-primary text-14 block ml-5" href="/account/login">Log In</a>
  </div>
</div>