<div class="z-[9] header fixed top-0 right-0 pr-20 pt-20 font-serif" data-component="header">
  <div class="header-content">
    <button class="js-menuOpen flex m:hidden items-center relative z-8 uppercase pt-3">
      Menu
    </button>

    <ul
      class="js-nav bg-cream hidden m:flex gap-20 items-center flex-shrink-0 pr-10 py-10 pl-20 border border-solid border-primary rounded-[.5rem]"
      role="list"
      tabindex="-1">
      {%- for link in section.settings.menu_main.links -%}
        <li class="nav-icon relative" data-component="headerIcon">
          <a
            href="{{ link.url }}"
            data-path="{{ link.url }}"
            class="flex items-center btn-nav relative js-link"
            data-title="{{ link.title }}">

            <span>{{ link.title | escape }}</span>
            {% if link.links != blank %}
              <span class="w-[1rem] js-plusSub block ml-10 transition-transform duration-300">{%- include 'icon-plus' -%}</span>
            {% endif %}
          </a>
        </li>
      {%- endfor -%}

      <li class="">
        <button aria-label="toggle cart" class="js-cartToggle flex items-center gap-5 relative btn-cart">
          <span class="block">Cart</span>
          <div>
            (<span class="js-cartCount">{{ cart.item_count }}</span>)
          </div>
        {% comment %} <div class="js-cartCount text-[.9rem] bg-black rounded-full text-center w-[1.4rem] h-[1.4rem] flex items-center justify-center text-cream translate-y-[-50%] ml-[.2rem]">
                      <span>{{ cart.item_count }}</span>
                  </div> {% endcomment %}
        </button>
      </li>
    </ul>

    <button aria-label="toggle cart" class="js-cartToggle flex m:hidden items-center gap-2 relative z-8 uppercase pt-3">
      <span class="">
        cart
      </span>
      <div>
        (<span class="js-cartCount">{{ cart.item_count }}</span>)
      </div>
    {% comment %} <div class="js-cartCount text-[.8rem] bg-black rounded-full text-center w-[1.2rem] h-[1.2rem] flex items-center justify-center text-cream translate-y-[-50%] ml-[.2rem]">
              <span>{{ cart.item_count }}</span>
          </div> {% endcomment %}
    </button>
  </div>
</div>

<button class="w-screen h-screen fixed left-0 top-0 js-menuClose hidden js-closeZone" aria-label="close menu"></button>

<div class="nav-menu-wrap fixed top-0 left-0 h-full w-full m:hidden -translate-x-full flex flex-col" data-component="navMobile">
  <ul
    class="menu-list flex items-start flex-col bg-white pb-55 px-15 h-full pt-80"
    role="list"
    tabindex="-1">
    <div class="divider mb-15"></div>
    {%- for link in section.settings.menu_mobile.links -%}
      <li class="text-primary w-full my-10{% if link.links[0] %} js-mobileDrop{% endif %}" data-title="{{ link.title }}">
        <a href="{{ link.url }}" class="js-menuClose text-48 font-serif leading-100">
          {{ link.title | escape }}
        </a>
      </li>
    {%- endfor -%}
  </ul>

  <div class="flex flex-row justify-between items-center text-12 absolute bottom-0 left-0 p-15 w-full">
    <div class="">
      {{ 'now' | date: '%Y' }} © D'Cuja
    </div>
    <a
      class="block"
      href="https://marcd.co"
      target="_blank"
      rel="noopener noreferrer">Site Credits</a>
  </div>
</div>

<div class="fixed z-9 top-0 left-0 pt-20 pl-20">
  <a
    href="/"
    class="block js-logo"
    aria-label="home">
    {% include 'icon-logotype' %}
  </a>
</div>


{% schema %}
  {
    "name": "header",
    "tag": "header",
    "class": "text-primary",
    "settings": [
      {
        "type": "link_list",
        "id": "menu_main",
        "label": "Desktop Menu"
      },
      {
        "type": "link_list",
        "id": "menu_mobile",
        "label": "Mobile Menu"
      },
      {
        "type": "text",
        "id": "banner",
        "label": "Banner Text"
      }
    ]

  }
{% endschema %}
