<div class="relative flex flex-col-reverse {% if section.settings.config == 'imageRight' %} m:flex-row{% else %} m:flex-row-reverse{% endif %}{% if section.settings.theme == 'dark' %} bg-secondary{% endif %}">
  {% if section.settings.wave == 'top' or section.settings.wave == 'both' %}
    <div class="absolute z-2 left-0 top-0 w-full text-cream rotate-180">{% include 'icon-wave' %}</div>
  {% endif %}

  <div class="w-1/2 min-h-[50rem] py-50 flex items-center justify-center">
    <div class="w-full max-w-[60rem] relative">
      {% if section.settings.subtitle.size > 0 %}
        <div class="tag -translate-y-30">
          {% assign splitTitle = section.settings.subtitle | split: ' ' %}
          {% for word in splitTitle %}
            <span>{{ word }}</span>
          {% endfor %}
        </div>
      {% endif %}
      {% if section.settings.title.size > 0 %}
        <h2 class="title-2xl">{{ section.settings.title }}</h2>
      {% endif %}

      {% if section.settings.body.size > 0 %}
        <div class="mt-60 m:mt-25 rte text-24">{{ section.settings.body }}</div>
      {% endif %}
    </div>
  </div>
  <div class="w-1/2 relative">
    <div class="block w-full h-full relative rounded-[1.5rem]">
      {%
        include 'lazy' with className: 'w-full h-full object-cover absolute left-0 top-0'
        , src: section.settings.image
        , size: '1400x' %}
    </div>
    {% if section.settings.link %}
      <a class="tag-btn" href="{{ section.settings.link }}">{{ section.settings.cta }}</a>
    {% endif %}
  </div>

  {% if section.settings.wave == 'bottom' or section.settings.wave == 'both' %}
    <div class="absolute z-2 left-0 bottom-0 w-full text-cream">{% include 'icon-wave' %}</div>
  {% endif %}
</div>

{% assign iLeft = null %}

{% schema %}
  {
    "name": "Image Text 2-Up",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "richtext",
        "id": "body",
        "label": "Body"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "CTA"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "select",
        "id": "config",
        "label": "Configuration",
        "options": [
          {
            "value": "imageLeft",
            "label": "Image Left"
          },
          {
            "value": "imageRight",
            "label": "Image Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "theme",
        "label": "Theme",
        "options": [
          {
            "value": "light",
            "label": "Light"
          },
          {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "wave",
        "label": "Wave",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          },
          {
            "value": "both",
            "label": "Both"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Text 2-Up"
      }
    ]
  }
{% endschema %}
