{% assign stngs = section.settings %}
{% assign btnClass = 'absolute z-3 top-1/2 -translate-y-1/2 bg-cream w-40 h-40 border border-solid border-primary rounded-full flex items-center justify-center' %}
<div class="w-full relative overflow-hidden">
  <div class="w-full bg-secondary pb-40 pt-30 m:py-60" data-component="social">
    <div class="js-carousel m:z-2 w-full overflow-hidden">
      <div class="flex select-none w-full relative">
        {% for block in section.blocks %}
          <a
            href="{{ block.settings.link }}"
            target="_blank"
            rel="noreferrer noopener"
            class="w-[calc(100%-5rem)] m:w-[60%] min-w-[calc(100%-6rem)] m:min-w-[60%] m:h-[40rem] relative mr-10 p-10 m:p-20 bg-cream rounded-[1.5rem] m:rounded-[2rem] flex flex-col m:flex-row gap-20">
            <div class="block w-full m:w-[36rem] h-[25rem] m:h-[36rem] relative rounded-[1.5rem] m:rounded-[2rem] overflow-hidden translate-x-0 flex-shrink-0">
              {%
                include 'lazy' with className: 'h-full w-full object-cover absolute top-0 left-0'
                , src: block.settings.image
                , size: '800x' %}
            </div>
            <div class="flex flex-col justify-between m:py-20 p-10 m:p-0">
              <div>
                <div class="title-sm">{{ section.settings.title }}</div>
                <div class="title-2xl mt-5">{{ block.settings.title }}</div>
              </div>
              <div class="text-18 m:text-24 leading-115 mt-15 m:mt-0">{{ block.settings.body }}</div>
              <div class="m:absolute m:top-40 m:right-20 title-sm mt-10 m:mt-0">{{ block.settings.caption }}</div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <button class="{{ btnClass }} js-prev left-20">
      <div class="w-[2rem]">{% include 'icon-arrow' %}</div>
    </button>
    <button class="{{ btnClass }} js-next rotate-180 right-20">
      <div class="w-[2rem]">{% include 'icon-arrow' %}</div>
    </button>
  </div>
</div>
<div class="text-secondary rotate-180">
  {% include 'icon-wave' %}
</div>

{% schema %}
  {
    "name": "Social",
    "tag": "section",
    "class": "mb-90",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Card Title"
      }
    ],
    "blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "caption",
            "label": "Caption"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "Body"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Social"
      }
    ]
  }
{% endschema %}
