{% assign stngs = section.settings %}
<div class="w-full relative px-30 my-60 m:my-120">
  {% if stngs.title %}
    <h2 class="title-sm bg-tertiary text-center px-30 py-15 rounded-full border border-solid border-primary mx-auto w-[fit-content] mb-30">{{ stngs.title }}</h2>
  {% endif %}
  {% assign product = all_products[section.settings.product] %}
  {% assign meta = product.metafields.custom %}
  {% assign splitTitle = product.title | split: ' ' %}

  <div class="hidden m:flex flex-col m:flex-row gap-20" data-product="product">
    <div class="w-1/2 h-[65rem] relative">
      {% include 'lazy' with className: 'absolute top-0 left-0 w-full h-full rounded-[1rem]'
        , src: meta.thumbnail
        , size: '1200x' %}
    </div>
    <div class="w-1/2 h-[65rem] relative border border-solid border-primary rounded-[1rem] p-30">
      <div class="title-sm absolute left-30 top-30">
        {{ section.settings.titleCard }}
      </div>
      <div class="absolute right-30 top-30 w-[5rem]">
        {% include 'lazy' with className: 'w-full'
          , src: meta.product_icon
          , size: '400x' %}
      </div>
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col items-center text-center">
        <div class="flex flex-col items-center title-2xl">
            {% assign splitTitle = product.title | split: ' ' %}
            {% for word in splitTitle %}
              <span>{{ word }}</span>
            {% endfor %}
        </div>
        <div class="flex gap-10 font-serif text-20 mt-10">
          <span>{{ meta.quantity }}</span>
          <span>|</span>
          <span>{{ product.price | money_without_trailing_zeros }}</span>
        </div>
      </div>
      <div class="absolute left-0 bottom-0 p-30 flex gap-10 z-2 w-full">
        {% if product.available %}
          <div class="product-variant-wrap hidden{% if current_variant.selling_plan_allocations.size > 0 %} is-subscription{% endif %}">
            <select
              name="id"
              data-productid="{{ product.id }}"
              id="ProductSelect-{{ section.id }}"
              data-productid="{{product.id}}"
              class="product-single__variants visually-hidden">
              {% for variant in product.variants %}
                <option
                  class="js-variantOption"
                  {% if variant.id == product.selected_or_first_available_variant.id %}
                  selected="selected"
                  {% endif %}
                  data-sku="{{ variant.sku }}"
                  data-quantity=""
                  data-id="{{ variant.id }}"
                  value="{{ variant.id }}"
                  data-inventory="{{ variant.inventory_quantity }}"
                  data-title="{{ variant.title | downcase }}">{{ variant.title }}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}

        <a class="btn is-border flex-shrink-0" href="{{ product.url }}">Learn More</a>
        <button
          class="js-add-to-cart flex-grow btn"
          name="add"
          type="button"
          form="productForm"
          aria-label="add to cart"
          {% unless product.available %}
          disabled{% endunless %}
          data-price="{{ price | money_without_trailing_zeros }}"
          data-preorder="{{ product.metafields.custom.pre_order }}">
          <span class="js-addText pointer-events-none">
            {% if product.available %}
              Add To Cart
            {% else %}
              Out of Stock
            {% endif %}
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="m:hidden" data-component="product">
    {% include 'product-card' %}
  </div>
</div>

{% schema %}
  {
    "name": "Suggested Products",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "grab a case for your next party. Mix it or drink by itself!",
        "label": "Section Title"
      },
      {
        "type": "text",
        "id": "titleCard",
        "default": "Complete The Party",
        "label": "Card Title"
      },
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      }
    ],
    "presets": [
      {
        "name": "Suggested Products"
      }
    ]
  }
{% endschema %}
